<div class="about background">
    I am Sierra: yogini, jokester, yoga adventurer.
    <hr> I am passionate about helping people awaken to the untapped energy that is available to us all:
    <hr> - our breath power that is breathing us all
    <br> - the power of love - that regenerates, nourishes, heals and transforms
    <br> - and elemental power of nature - the renewable abundance of solar, wind, water, and earth composting power that will be our green future
    <hr> This hub is a soul sanctuary to be inspired to breathe more fully,
    <br>love more deeply and to shift towards a greater vital life for all.
    <hr> Come as we are - all are welcome to the open circle.
</div>
