<div>
    <h2>Feel free to share your thoughts</h2>
    <form action="mailto:sierrayoga98@gmail.com" method="post" enctype="text/plain">
        Name:
        <br>
        <input type="text" name="name" value="your name">
        <br> E-mail:
        <br>
        <input type="text" name="email" value="your email">
        <br> Comment:
        <br>
        <textarea name="Comment" id="email" rows="25" cols="80">Your comment here...</textarea>
        <br>
        <br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
    </body>

    </html>
</div>
