<div class="portCont">
    <img class="portfolio" src="./img/1.jpg">
    <img class="portfolio" src="./img/2.jpg">
    <img class="portfolio" src="./img/3.jpg">
    <img class="portfolio" src="./img/4.jpg">
    <img class="portfolio" src="./img/5.jpg">
    <img class="portfolio" src="./img/Sierra1.jpg">
    <img class="portfolio" src="./img/Sierra2.jpg">
    <img class="portfolio" src="./img/Sierra3.jpg">
    <img class="portfolio" src="./img/Sierra4.jpg">
    <img class="portfolio" src="./img/Sierra5.jpg">
    <img class="portfolio" src="./img/Sierra6.jpg">
    <img class="portfolio" src="./img/Sierra7.jpg">
    <img class="portfolio" src="./img/Sierra9.jpg">
    <img class="portfolio" src="./img/Sierra10.jpg">
    <img class="portfolio" src="./img/Sierra11.jpg">
</div>
