<div>
    Favorite Videos :)
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vPYk_bKNags" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ph4hnZaHXT8" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ni2h8C-StSI" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nL4kfGpa5E8" frameborder="0" allowfullscreen></iframe>